<h2>Create New Auction</h2>
<%= form_with(model: @auction) do |form|%>
  <div>
    <%= form.label :title%>
    <br>
    <%= form.text_field :title%>
  </div>
  <div>
    <%= form.label :description%>
    <br>
    <%= form.text_area :description%>
  </div>
  <div>
    <%= form.label :price%>
    <br>
    <%= form.number_field :price, step: "0.01"%>
  </div>
  <div>
    <%= form.label :end_date%>
    <br>
    <%= form.date_field :end_date%>
  </div>
  <%= form.submit%>
<% end %>
